/* estilos personalizados */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.text-black {
  color: black;
}

.mt-main {
  margin-top: 50px;
}

.shadow-black {
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.87);
}

.bg-monkey-blue {
  background-color: #2c4c6b !important;
}
/* fin estilos personalizos */

/* estilos del navbar */
nav .container {
  margin: 0;
}

nav .nav-link {
  color: #2c4c6b !important;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #2c4c6b !important;
}

nav .navbar-toggler {
  border: 1px solid #2c4c6b !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2844, 76, 107, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* fin estilos del navbar */


@media only screen and (min-width: 663px) {
  
}

@media only screen and (min-width: 768px) {
  /* estilos personalizados */
  .mt-main {
    margin-top: 68px;
  }
  /* fin estilos personalizos */
  
  /* estilos del navbar */
  nav {
    padding-left: 88px !important;
    padding-right: 88px !important;
  }

  nav .nav-link {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    height: 66px;
    display: flex;
    align-items: center;
  }

  nav .nav-link:hover {
    font-weight: normal;
    background-color: #2c4c6b !important;
    color: #fff !important;
  }
  /* fin estilos del navbar */
}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1200px) {
  
}